.input-textarea{
    background-color: #252b3d;
    width : 600px !important;
    height : 233px;
    margin-top : 30px;
    font-size: 18px;
    margin-bottom : 10px;
}
.btn {
    background-color: #368728;
    color: #ffffff;
}
.heading-1{
    margin-bottom: 410px;
}